{
  "swagger": "2.0",
  "info": {
    "title": "Infor Document Processor",
    "version": "v1"
  },
  "host": "mingle-ionapi.inforcloudsuite.com",
  "basePath": "/<YOUR_TENANT>/COLEMANDDP",
  "schemes": [
    "https"
  ],
  "paths": {
    "/ocrsvc/v{ver}/DocumentProcessorFlows/{documentProcessorFlowGuid}/Job": {
      "post": {
        "tags": [
          "Modelling"
        ],
        "summary": "Create Job for Document Processor flow",
        "operationId": "CreateJob",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "documentProcessorFlowGuid",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageNo",
            "description": "PageNo eg. for pdf with Page size 10, values could be 1,2,3 or 1-3 or 1, 3-5  or  1-3, 7-10",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ocrProviderID",
            "description": "OCRProvider, The Default value will be picked based on the region",
            "type": "string",
            "default": ""
          },
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "document",
            "description": "",
            "type": "file"
          },
          {
            "in": "formData",
            "name": "modelID",
            "description": "ModelID for Inference please refer to documention for modelID, The default value will picked based on the region",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "geometryRequired",
            "description": "True/False if Geometry of words is needed",
            "type": "boolean",
            "default": false
          },
          {
            "in": "formData",
            "name": "confidenceRequired",
            "description": "True/Fase if Confidence of the Inference needs to be returned as part of output",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/Jobs/List": {
      "post": {
        "tags": [
          "Modelling"
        ],
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GridFilters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/Jobs/{jobId}": {
      "get": {
        "tags": [
          "Modelling"
        ],
        "summary": "Get the result for the Job ID",
        "parameters": [
          {
            "in": "path",
            "name": "jobId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isPathRequired",
            "description": "",
            "type": "boolean",
            "default": false
          },
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/Models/List": {
      "get": {
        "tags": [
          "Modelling"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/OCRProviders/List": {
      "get": {
        "tags": [
          "OCR"
        ],
        "summary": "Get the OCR Providers",
        "parameters": [
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/DocumentOCR": {
      "post": {
        "tags": [
          "OCR"
        ],
        "summary": "This API does OCR of the given Document",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "ocrDocument",
            "description": "Document path that needs to be OCR",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/TemplateExtraction": {
      "post": {
        "tags": [
          "OCR"
        ],
        "summary": "This API Extract data from the Document, based on the selected template.",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "documentType",
            "description": "Name of the document type which is uploaded eg. Invoice",
            "type": "string"
          },
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "ocrDocument",
            "description": "Document path from which data needs to be extracted",
            "type": "file"
          },
          {
            "in": "formData",
            "name": "templateFile",
            "description": "Template path which would be applied on the document to extract data",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/DocumentKeyValue": {
      "post": {
        "tags": [
          "OCR"
        ],
        "summary": "This API returns the values for the requested keys",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "list_of_keys",
            "description": "Comma seperated list of keys to search",
            "type": "string"
          },
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "ocrDocument",
            "description": "Document path in which the keys need to be searched",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/AsyncDocumentOCR": {
      "post": {
        "tags": [
          "OCR"
        ],
        "summary": "This is a Async API to do OCR of the given Document",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "pageNo",
            "description": "PageNo eg. for pdf with Page size 10, values could be 1,2,3 or 1-3 or 1, 3-5  or  1-3, 7-10",
            "type": "string"
          },
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "ocrDocument",
            "description": "Document path that needs to be OCR",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/AysncTemplateExtraction": {
      "post": {
        "tags": [
          "OCR"
        ],
        "summary": "This is a Async API to Extract data from the Document, based on the selected template.",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "documentType",
            "description": "Name of the document type which is uploaded eg. Invoice",
            "type": "string"
          },
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "ocrDocument",
            "description": "Document path from which data needs to be extracted",
            "type": "file"
          },
          {
            "in": "formData",
            "name": "templateFile",
            "description": "Template path which would be applied on the document to extract data",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/AsyncDocumentKeyValue": {
      "post": {
        "tags": [
          "OCR"
        ],
        "summary": "This is a Async API to returns the values for the requested keys",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "list_of_keys",
            "description": "Comma seperated list of keys to search",
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageNo",
            "description": "PageNo eg. for pdf with Page size 10, values could be 1,2,3 or 1-3 or 1, 3-5  or  1-3, 7-10",
            "type": "string"
          },
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "ocrDocument",
            "description": "Document path in which the keys need to be searched",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/GetJobResult": {
      "post": {
        "tags": [
          "OCR"
        ],
        "summary": "This API returns the Job result for a given JobID",
        "parameters": [
          {
            "in": "query",
            "name": "taskID",
            "description": "The JobID of the Job",
            "type": "string"
          },
          {
            "in": "query",
            "name": "isPathRequired",
            "type": "boolean",
            "default": false
          },
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/DocumentExtraction": {
      "post": {
        "tags": [
          "OCR"
        ],
        "summary": "This API extract key values from the given document and predicts the Type for the fields",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "doc_to_analyze",
            "description": "The document to be extracted",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ocrsvc/v{ver}/AsyncDocumentExtraction": {
      "post": {
        "tags": [
          "OCR"
        ],
        "summary": "This is a Async API to extract key values from the given document and predicts the Type of the fields",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "pageNo",
            "description": "PageNo eg. for pdf with Page size 10, values could be 1,2,3 or 1-3 or 1, 3-5  or  1-3, 7-10",
            "type": "string"
          },
          {
            "in": "path",
            "name": "ver",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "doc_to_analyze",
            "description": "The document to be extracted",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "definitions": {
    "GridFilters": {
      "type": "object",
      "properties": {
        "currentPage": {
          "format": "int32",
          "type": "integer"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer"
        },
        "sortColumn": {
          "format": "string",
          "maxLength": 200,
          "minLength": 0,
          "type": "string"
        },
        "sortDirection": {
          "format": "string",
          "maxLength": 10,
          "minLength": 0,
          "pattern": "^(ASC|DESC|asc|desc|ascending|descending|ASCENDING|DESCENDING|)$",
          "type": "string"
        },
        "reqFilterExpression": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReqFilterExpression"
          }
        }
      },
      "additionalProperties": false
    },
    "ReqFilterExpression": {
      "type": "object",
      "properties": {
        "columnId": {
          "format": "string",
          "maxLength": 200,
          "minLength": 0,
          "type": "string"
        },
        "filterOperator": {
          "format": "string",
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "value": {
          "format": "string",
          "maxLength": 2000,
          "minLength": 0,
          "type": "string"
        },
        "filterType": {
          "format": "string",
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        }
      },
      "additionalProperties": false
    }
  }
}