{
  "openapi": "3.1.0",
  "info": {
    "title": "Infor GenAI API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://mingle-ionapi.inforcloudsuite.com/<YOUR_TENANT>/GENAI/coresvc",
      "variables": {
        "basePath": {
          "default": "/coresvc"
        }
      }
    }
  ],
  "paths": {
    "/info": {
      "get": {
        "tags": [
          "info"
        ],
        "summary": "Get Info",
        "operationId": "get_info_coresvc_info_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/tools": {
      "get": {
        "tags": [
          "tools"
        ],
        "summary": "Get Tool List",
        "operationId": "get_tool_list_coresvc_api_v1_tools_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ToolResponse"
                  },
                  "type": "array",
                  "title": "Response Get Tool List Coresvc Api V1 Tools Get"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "put": {
        "tags": [
          "tools"
        ],
        "summary": "Upsert Tool",
        "operationId": "upsert_tool_coresvc_api_v1_tools_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Add Tools",
        "operationId": "add_tools_coresvc_api_v1_tools_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/ToolRequest"
                },
                "type": "array",
                "title": "Input Tools"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ToolResponse"
                  },
                  "type": "array",
                  "title": "Response Add Tools Coresvc Api V1 Tools Post"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "tools"
        ],
        "summary": "Delete Tools",
        "operationId": "delete_tools_coresvc_api_v1_tools_delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolBulkDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ToolBulkDeleteResponse"
                  },
                  "type": "array",
                  "title": "Response Delete Tools Coresvc Api V1 Tools Delete"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/tools/{tool_guid}": {
      "get": {
        "tags": [
          "tools"
        ],
        "summary": "Get Tool",
        "operationId": "get_tool_coresvc_api_v1_tools__tool_guid__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool Guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tools"
        ],
        "summary": "Delete Tool",
        "operationId": "delete_tool_coresvc_api_v1_tools__tool_guid__delete",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool Guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tools/search": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Search",
        "operationId": "search_coresvc_api_v1_tools_search_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/tools/search/semantic": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Semantic Search Tools",
        "operationId": "semantic_search_tools_coresvc_api_v1_tools_search_semantic_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SemanticSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/tools/enable": {
      "put": {
        "tags": [
          "tools"
        ],
        "summary": "Enable Tool",
        "operationId": "enable_tool_coresvc_api_v1_tools_enable_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolEnableRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/tools/duplicate": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Duplicate Tools",
        "operationId": "duplicate_tools_coresvc_api_v1_tools_duplicate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolDuplicateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/tools/export": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Export Tools",
        "operationId": "export_tools_coresvc_api_v1_tools_export_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolExportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/tools/import": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Import Tools",
        "operationId": "import_tools_coresvc_api_v1_tools_import_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolImportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolImportResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/suggestions": {
      "get": {
        "tags": [
          "suggestions"
        ],
        "summary": "Get Suggestions",
        "operationId": "get_suggestions_coresvc_api_v1_suggestions_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SuggestionResponse"
                  },
                  "type": "array",
                  "title": "Response Get Suggestions Coresvc Api V1 Suggestions Get"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "suggestions"
        ],
        "summary": "Create Suggestion",
        "operationId": "create_suggestion_coresvc_api_v1_suggestions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "suggestions"
        ],
        "summary": "Delete Suggestions",
        "operationId": "delete_suggestions_coresvc_api_v1_suggestions_delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteSuggestionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSuggestionsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/suggestions/{suggestion_id}": {
      "put": {
        "tags": [
          "suggestions"
        ],
        "summary": "Update Suggestions",
        "operationId": "update_suggestions_coresvc_api_v1_suggestions__suggestion_id__put",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "suggestion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Suggestion Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "suggestions"
        ],
        "summary": "Delete Suggestion",
        "operationId": "delete_suggestion_coresvc_api_v1_suggestions__suggestion_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "suggestion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Suggestion Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/evaluations/history/job/{job_guid}": {
      "get": {
        "tags": [
          "evaluations/history"
        ],
        "summary": "Get Evaluation History By Job Guid",
        "operationId": "get_evaluation_history_by_job_guid_coresvc_api_v1_evaluations_history_job__job_guid__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "job_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Job Guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationHistoryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/evaluations/history/evaluation/{evaluation_guid}": {
      "get": {
        "tags": [
          "evaluations/history"
        ],
        "summary": "Get Execution By Evaluation Guid",
        "operationId": "get_execution_by_evaluation_guid_coresvc_api_v1_evaluations_history_evaluation__evaluation_guid__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "evaluation_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Evaluation Guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteEvaluationListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/evaluations": {
      "get": {
        "tags": [
          "evaluations"
        ],
        "summary": "Get Evaluations Config",
        "operationId": "get_evaluations_config_coresvc_api_v1_evaluations_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResponse"
                  },
                  "type": "array",
                  "title": "Response Get Evaluations Config Coresvc Api V1 Evaluations Get"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "put": {
        "tags": [
          "evaluations"
        ],
        "summary": "Create Or Update Evaluations",
        "operationId": "create_or_update_evaluations_coresvc_api_v1_evaluations_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/EvaluationRequest"
                },
                "type": "array",
                "title": "Requests"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResponse"
                  },
                  "type": "array",
                  "title": "Response Create Or Update Evaluations Coresvc Api V1 Evaluations Put"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "evaluations"
        ],
        "summary": "Delete Evaluations",
        "operationId": "delete_evaluations_coresvc_api_v1_evaluations_delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "title": "Guids"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResponse"
                  },
                  "type": "array",
                  "title": "Response Delete Evaluations Coresvc Api V1 Evaluations Delete"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/evaluations/{guid}": {
      "get": {
        "tags": [
          "evaluations"
        ],
        "summary": "Get Evaluation By Guid",
        "operationId": "get_evaluation_by_guid_coresvc_api_v1_evaluations__guid__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "evaluations"
        ],
        "summary": "Update Evaluation",
        "operationId": "update_evaluation_coresvc_api_v1_evaluations__guid__put",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Guid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "evaluations"
        ],
        "summary": "Delete Evaluation",
        "operationId": "delete_evaluation_coresvc_api_v1_evaluations__guid__delete",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/evaluations/chat/trajectory": {
      "post": {
        "tags": [
          "evaluations"
        ],
        "summary": "Generate Agent Trajectory Reference Output",
        "operationId": "generate_agent_trajectory_reference_output_coresvc_api_v1_evaluations_chat_trajectory_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentTrajectoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTrajectoryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/evaluations/execute": {
      "post": {
        "tags": [
          "evaluations/execute"
        ],
        "summary": "Start Execute Evaluation",
        "operationId": "start_execute_evaluation_coresvc_api_v1_evaluations_execute_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteEvaluationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteEvaluationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/guardrails": {
      "get": {
        "tags": [
          "guardrails"
        ],
        "summary": "Get All",
        "operationId": "get_all_coresvc_api_v1_guardrails_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Guardrail_Response_Body"
                  },
                  "type": "array",
                  "title": "Response Get All Coresvc Api V1 Guardrails Get"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "put": {
        "tags": [
          "guardrails"
        ],
        "summary": "Create Or Update Guardrails",
        "operationId": "create_or_update_guardrails_coresvc_api_v1_guardrails_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/Guardrail_Request_Body"
                },
                "type": "array",
                "title": "Guardrails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Guardrail_Response_Body"
                  },
                  "type": "array",
                  "title": "Response Create Or Update Guardrails Coresvc Api V1 Guardrails Put"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/guardrails/{guardrail_id}": {
      "get": {
        "tags": [
          "guardrails"
        ],
        "summary": "Get Guardrail",
        "operationId": "get_guardrail_coresvc_api_v1_guardrails__guardrail_id__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "guardrail_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Guardrail Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guardrail_Response_Body"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "guardrails"
        ],
        "summary": "Delete Guardrail By Id",
        "operationId": "delete_guardrail_by_id_coresvc_api_v1_guardrails__guardrail_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "guardrail_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Guardrail Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ifs/roles": {
      "post": {
        "tags": [
          "ifs"
        ],
        "summary": "Get Security Roles",
        "operationId": "get_security_roles_coresvc_api_v1_ifs_roles_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFSRoleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/namespaces": {
      "get": {
        "tags": [
          "namespaces"
        ],
        "summary": "Get Namespaces",
        "operationId": "get_namespaces_coresvc_api_v1_namespaces_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/settings/user/properties": {
      "get": {
        "tags": [
          "settings"
        ],
        "summary": "Get Features List",
        "operationId": "get_features_list_coresvc_api_v1_settings_user_properties_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureSettings"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "settings"
        ],
        "summary": "Upsert User Settings",
        "operationId": "upsert_user_settings_coresvc_api_v1_settings_user_properties_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/settings/admin": {
      "get": {
        "tags": [
          "settings"
        ],
        "summary": "Get Admin Settings",
        "operationId": "get_admin_settings_coresvc_api_v1_settings_admin_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "settings"
        ],
        "summary": "Update Admin Settings",
        "operationId": "update_admin_settings_coresvc_api_v1_settings_admin_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/settings/feature": {
      "get": {
        "tags": [
          "settings"
        ],
        "summary": "Get Feature Flags",
        "operationId": "get_feature_flags_coresvc_api_v1_settings_feature_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Get Feature Flags Coresvc Api V1 Settings Feature Get"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/registry/products": {
      "get": {
        "tags": [
          "tools"
        ],
        "summary": "Get Products",
        "operationId": "get_products_coresvc_api_v1_registry_products_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/mcp/tools": {
      "get": {
        "tags": [
          "mcp"
        ],
        "summary": "Get Mcp Tools",
        "operationId": "get_mcp_tools_coresvc_api_v1_mcp_tools_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MCPToolsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AdminSettingsRequest": {
        "properties": {
          "trace_opt_out": {
            "type": "boolean",
            "title": "Trace Opt Out",
            "description": "Opt out of data tracing"
          }
        },
        "type": "object",
        "required": [
          "trace_opt_out"
        ],
        "title": "AdminSettingsRequest"
      },
      "AgentTrajectoryRequest": {
        "properties": {
          "input": {
            "type": "string",
            "title": "Input"
          },
          "sessionId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sessionid"
          }
        },
        "type": "object",
        "required": [
          "input"
        ],
        "title": "AgentTrajectoryRequest"
      },
      "AgentTrajectoryResponse": {
        "properties": {
          "sessionId": {
            "type": "string",
            "title": "Sessionid"
          },
          "trajectory": {
            "items": {},
            "type": "array",
            "title": "Trajectory"
          }
        },
        "type": "object",
        "required": [
          "sessionId",
          "trajectory"
        ],
        "title": "AgentTrajectoryResponse"
      },
      "Annotations": {
        "properties": {
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "readOnlyHint": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Readonlyhint"
          },
          "destructiveHint": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Destructivehint"
          },
          "idempotentHint": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Idempotenthint"
          },
          "openWorldHint": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Openworldhint"
          }
        },
        "type": "object",
        "title": "Annotations",
        "description": "Optional hints about tool behavior\n\nAttributes:\n    title (Optional[str]): Human-readable title for the tool\n    readOnlyHint (Optional[bool]): If true, the tool does not modify its environment\n    destructiveHint (Optional[bool]): If true, the tool may perform destructive updates\n    idempotentHint (Optional[bool]): If true, repeated calls with same args have no additional effect\n    openWorldHint (Optional[bool]): If true, tool interacts with external entities"
      },
      "BanListConfig": {
        "properties": {
          "banned_words": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Banned Words",
            "description": "List of words/phrases to ban"
          },
          "max_l_dist": {
            "type": "integer",
            "title": "Max L Dist",
            "description": "Number of charachter varience allowd for matching",
            "default": 1
          }
        },
        "type": "object",
        "required": [
          "banned_words"
        ],
        "title": "BanListConfig"
      },
      "DeleteSuggestionsRequest": {
        "properties": {
          "guids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Guids",
            "description": "The guids of the suggestions"
          }
        },
        "type": "object",
        "required": [
          "guids"
        ],
        "title": "DeleteSuggestionsRequest"
      },
      "DeleteSuggestionsResponse": {
        "properties": {
          "successfulDeletions": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Successfuldeletions",
            "description": "The guids of the successfully deleted suggestions"
          },
          "failedDeletions": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Faileddeletions",
            "description": "The guids of the suggestions that failed to delete"
          }
        },
        "type": "object",
        "required": [
          "successfulDeletions",
          "failedDeletions"
        ],
        "title": "DeleteSuggestionsResponse"
      },
      "Endpoint": {
        "type": "string",
        "enum": [
          "prompt",
          "messages",
          "chat"
        ],
        "title": "Endpoint"
      },
      "EvaluationHistory": {
        "properties": {
          "guid": {
            "type": "string",
            "format": "uuid",
            "title": "Guid"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "title": "Date"
          }
        },
        "type": "object",
        "required": [
          "guid",
          "date"
        ],
        "title": "EvaluationHistory"
      },
      "EvaluationHistoryDetailResponse": {
        "properties": {
          "guid": {
            "type": "string",
            "format": "uuid",
            "title": "Guid"
          },
          "job_guid": {
            "type": "string",
            "format": "uuid",
            "title": "Job Guid"
          },
          "eval_guid": {
            "type": "string",
            "format": "uuid",
            "title": "Eval Guid"
          },
          "input": {
            "type": "string",
            "title": "Input"
          },
          "expected_output": {
            "type": "string",
            "title": "Expected Output"
          },
          "result_output": {
            "type": "string",
            "title": "Result Output"
          },
          "expected_entities": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expected Entities"
          },
          "result_entities": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Result Entities"
          },
          "scoring_result": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scoring Result"
          },
          "use_agent_trajectory_reference": {
            "type": "boolean",
            "title": "Use Agent Trajectory Reference",
            "default": false
          },
          "agent_trajectory_reference_output": {
            "anyOf": [
              {
                "items": {},
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Trajectory Reference Output"
          },
          "agent_trajectory_actual_output": {
            "anyOf": [
              {
                "items": {},
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Trajectory Actual Output"
          },
          "llm_as_a_judge_reasoning": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Llm As A Judge Reasoning"
          },
          "avg_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avg Score"
          },
          "min_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Min Score"
          },
          "max_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Score"
          },
          "inference_model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Inference Model"
          },
          "judge_model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Judge Model"
          },
          "step_number": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Step Number"
          },
          "created_by": {
            "type": "string",
            "format": "uuid",
            "title": "Created By"
          },
          "updated_by": {
            "type": "string",
            "format": "uuid",
            "title": "Updated By"
          },
          "created_by_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created By Email"
          },
          "updated_by_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated By Email"
          },
          "created_on": {
            "type": "string",
            "format": "date-time",
            "title": "Created On"
          },
          "updated_on": {
            "type": "string",
            "format": "date-time",
            "title": "Updated On"
          }
        },
        "type": "object",
        "required": [
          "guid",
          "job_guid",
          "eval_guid",
          "input",
          "expected_output",
          "result_output",
          "created_by",
          "updated_by",
          "created_on",
          "updated_on"
        ],
        "title": "EvaluationHistoryDetailResponse"
      },
      "EvaluationHistoryResponse": {
        "properties": {
          "executed_by": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Executed By"
          },
          "executed_by_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Executed By Email"
          },
          "executed_on": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Executed On"
          },
          "type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Type"
          },
          "status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status"
          },
          "avg_avg_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avg Avg Score"
          },
          "min_avg_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Min Avg Score"
          },
          "max_avg_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Avg Score"
          },
          "job_details": {
            "items": {
              "$ref": "#/components/schemas/EvaluationHistoryDetailResponse"
            },
            "type": "array",
            "title": "Job Details"
          }
        },
        "type": "object",
        "required": [
          "job_details"
        ],
        "title": "EvaluationHistoryResponse"
      },
      "EvaluationRequest": {
        "properties": {
          "guid": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Guid"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "type": {
            "$ref": "#/components/schemas/EvaluationType"
          },
          "eval": {
            "items": {
              "$ref": "#/components/schemas/EvaluationStep"
            },
            "type": "array",
            "title": "Eval"
          },
          "evalHistory": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/EvaluationHistory"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evalhistory"
          }
        },
        "type": "object",
        "required": [
          "name",
          "type",
          "eval"
        ],
        "title": "EvaluationRequest"
      },
      "EvaluationResponse": {
        "properties": {
          "guid": {
            "type": "string",
            "format": "uuid",
            "title": "Guid"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "type": {
            "$ref": "#/components/schemas/EvaluationType"
          },
          "created_on": {
            "type": "string",
            "format": "date-time",
            "title": "Created On"
          },
          "updated_on": {
            "type": "string",
            "format": "date-time",
            "title": "Updated On"
          },
          "created_by": {
            "type": "string",
            "format": "uuid",
            "title": "Created By"
          },
          "updated_by": {
            "type": "string",
            "format": "uuid",
            "title": "Updated By"
          },
          "created_by_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created By Email"
          },
          "updated_by_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated By Email"
          },
          "eval": {
            "items": {
              "$ref": "#/components/schemas/EvaluationStep"
            },
            "type": "array",
            "title": "Eval"
          },
          "evalHistory": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/EvaluationHistory"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evalhistory"
          }
        },
        "type": "object",
        "required": [
          "guid",
          "name",
          "type",
          "created_on",
          "updated_on",
          "created_by",
          "updated_by",
          "eval"
        ],
        "title": "EvaluationResponse"
      },
      "EvaluationStep": {
        "properties": {
          "input": {
            "type": "string",
            "title": "Input"
          },
          "expectedOutput": {
            "type": "string",
            "title": "Expectedoutput"
          },
          "expectedEntities": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expectedentities"
          },
          "scoringCriteria": {
            "additionalProperties": true,
            "type": "object",
            "title": "Scoringcriteria"
          },
          "use_agent_trajectory_reference": {
            "type": "boolean",
            "title": "Use Agent Trajectory Reference",
            "default": false
          },
          "agent_trajectory_reference_output": {
            "anyOf": [
              {
                "items": {},
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Trajectory Reference Output"
          },
          "inferenceModel": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Inferencemodel"
          },
          "judgeModel": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Judgemodel"
          },
          "step_number": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Step Number"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "input",
          "expectedOutput",
          "scoringCriteria"
        ],
        "title": "EvaluationStep"
      },
      "EvaluationType": {
        "type": "string",
        "enum": [
          "CHAT",
          "MESSAGES",
          "PROMPT"
        ],
        "title": "EvaluationType"
      },
      "ExecuteEvaluationDetailsResponse": {
        "properties": {
          "job_guid": {
            "type": "string",
            "format": "uuid",
            "title": "Job Guid"
          },
          "evaluation_guid": {
            "type": "string",
            "format": "uuid",
            "title": "Evaluation Guid"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "latest_step_no": {
            "type": "integer",
            "title": "Latest Step No"
          },
          "status_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status Message"
          },
          "avg_avg_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avg Avg Score"
          },
          "min_avg_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Min Avg Score"
          },
          "max_avg_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Avg Score"
          },
          "created_by": {
            "type": "string",
            "format": "uuid",
            "title": "Created By"
          },
          "created_by_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created By Email"
          },
          "created_on": {
            "type": "string",
            "format": "date-time",
            "title": "Created On"
          },
          "updated_on": {
            "type": "string",
            "format": "date-time",
            "title": "Updated On"
          }
        },
        "type": "object",
        "required": [
          "job_guid",
          "evaluation_guid",
          "name",
          "status",
          "latest_step_no",
          "created_by",
          "created_on",
          "updated_on"
        ],
        "title": "ExecuteEvaluationDetailsResponse"
      },
      "ExecuteEvaluationListResponse": {
        "properties": {
          "evaluations": {
            "items": {
              "$ref": "#/components/schemas/ExecuteEvaluationDetailsResponse"
            },
            "type": "array",
            "title": "Evaluations"
          }
        },
        "type": "object",
        "required": [
          "evaluations"
        ],
        "title": "ExecuteEvaluationListResponse"
      },
      "ExecuteEvaluationRequest": {
        "properties": {
          "guid": {
            "type": "string",
            "format": "uuid",
            "title": "Guid"
          }
        },
        "type": "object",
        "required": [
          "guid"
        ],
        "title": "ExecuteEvaluationRequest"
      },
      "ExecuteEvaluationResponse": {
        "properties": {
          "job_guid": {
            "type": "string",
            "format": "uuid",
            "title": "Job Guid"
          },
          "state_machine_execution_guid": {
            "type": "string",
            "format": "uuid",
            "title": "State Machine Execution Guid"
          },
          "guid": {
            "type": "string",
            "format": "uuid",
            "title": "Guid"
          },
          "name": {
            "type": "string",
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "job_guid",
          "state_machine_execution_guid",
          "guid",
          "name"
        ],
        "title": "ExecuteEvaluationResponse"
      },
      "FeatureSettings": {
        "properties": {
          "feature_flags": {
            "additionalProperties": true,
            "type": "object",
            "title": "Feature Flags"
          },
          "security_roles": {
            "additionalProperties": true,
            "type": "object",
            "title": "Security Roles"
          },
          "is_infor": {
            "type": "boolean",
            "title": "Is Infor"
          },
          "userSettings": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/UserSettings"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "title": "FeatureSettings"
      },
      "GlobalPackageConfiguration": {
        "properties": {
          "namespace": {
            "type": "string",
            "title": "Namespace"
          },
          "lockStatus": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/IrnLockedStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "irn": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Irn"
          },
          "editorTenant": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Editortenant"
          }
        },
        "type": "object",
        "required": [
          "namespace"
        ],
        "title": "GlobalPackageConfiguration"
      },
      "GuardrailType": {
        "type": "string",
        "enum": [
          "BAN_LIST",
          "PII_DETECTION",
          "RESTRICT_TO_TOPIC"
        ],
        "title": "GuardrailType"
      },
      "Guardrail_Request_Body": {
        "properties": {
          "guid": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Guid"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "type": {
            "$ref": "#/components/schemas/GuardrailType"
          },
          "config": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BanListConfig"
              },
              {
                "$ref": "#/components/schemas/PIIDetectionConfig"
              },
              {
                "$ref": "#/components/schemas/RestrictToTopicConfig"
              }
            ],
            "title": "Config"
          },
          "roles": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Roles"
          },
          "endpoints": {
            "items": {
              "$ref": "#/components/schemas/Endpoint"
            },
            "type": "array",
            "title": "Endpoints"
          },
          "enabled": {
            "type": "boolean",
            "title": "Enabled"
          },
          "input": {
            "type": "boolean",
            "title": "Input"
          },
          "output": {
            "type": "boolean",
            "title": "Output"
          }
        },
        "type": "object",
        "required": [
          "name",
          "type",
          "config",
          "roles",
          "endpoints",
          "enabled",
          "input",
          "output"
        ],
        "title": "Guardrail_Request_Body"
      },
      "Guardrail_Response_Body": {
        "properties": {
          "guid": {
            "type": "string",
            "format": "uuid",
            "title": "Guid"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "type": {
            "$ref": "#/components/schemas/GuardrailType"
          },
          "config": {
            "additionalProperties": true,
            "type": "object",
            "title": "Config"
          },
          "roles": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Roles"
          },
          "endpoints": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Endpoints"
          },
          "enabled": {
            "type": "boolean",
            "title": "Enabled"
          },
          "input": {
            "type": "boolean",
            "title": "Input"
          },
          "output": {
            "type": "boolean",
            "title": "Output"
          },
          "created_on": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created On"
          },
          "updated_on": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated On"
          },
          "created_by_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created By Email"
          },
          "updated_by_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated By Email"
          }
        },
        "type": "object",
        "required": [
          "guid",
          "name",
          "type",
          "config",
          "roles",
          "endpoints",
          "enabled",
          "input",
          "output"
        ],
        "title": "Guardrail_Response_Body"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "IFSRoleResponse": {
        "properties": {
          "roles": {
            "items": {
              "$ref": "#/components/schemas/IFSSecurityRole"
            },
            "type": "array",
            "title": "Roles"
          }
        },
        "type": "object",
        "required": [
          "roles"
        ],
        "title": "IFSRoleResponse"
      },
      "IFSSecurityRole": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "type": "string",
            "title": "Description"
          },
          "logicalIds": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Logicalids"
          },
          "applicationType": {
            "type": "string",
            "title": "Applicationtype"
          }
        },
        "type": "object",
        "required": [
          "name",
          "description",
          "logicalIds",
          "applicationType"
        ],
        "title": "IFSSecurityRole"
      },
      "Input": {
        "properties": {
          "type": {
            "type": "string",
            "title": "Type"
          },
          "properties": {
            "additionalProperties": {
              "$ref": "#/components/schemas/InputProperty"
            },
            "type": "object",
            "title": "Properties"
          },
          "required": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Required",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "type",
          "properties"
        ],
        "title": "Input",
        "description": "MCP tool input schema for tool parameters\n\nAttributes:\n    type (str): The type of the input schema\n    properties (Dict[str, InputProperty]): Dictionary mapping property names to their definitions\n    required (List[str]): List of required property names"
      },
      "InputProperty": {
        "properties": {
          "type": {
            "type": "string",
            "title": "Type"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          }
        },
        "type": "object",
        "required": [
          "type"
        ],
        "title": "InputProperty",
        "description": "MCP tool input specific parameters\n\nAttributes:\n    type (str): The data type of the property\n    description (str): Description of what the property represents"
      },
      "IrnLockedStatus": {
        "type": "string",
        "enum": [
          "softlock",
          "hardlock"
        ],
        "title": "IrnLockedStatus"
      },
      "MCPToolResponse": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "inputSchema": {
            "$ref": "#/components/schemas/Input"
          },
          "annotations": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Annotations"
              },
              {
                "type": "null"
              }
            ]
          },
          "server": {
            "type": "string",
            "title": "Server"
          }
        },
        "type": "object",
        "required": [
          "name",
          "inputSchema",
          "server"
        ],
        "title": "MCPToolResponse"
      },
      "MCPToolsResponse": {
        "properties": {
          "tools": {
            "items": {
              "$ref": "#/components/schemas/MCPToolResponse"
            },
            "type": "array",
            "title": "Tools"
          }
        },
        "type": "object",
        "required": [
          "tools"
        ],
        "title": "MCPToolsResponse",
        "description": "Response schema for MCP tools api\n\nAttributes:\n        tools (List[Tool]): List of MCP Tools"
      },
      "PIIDetectionConfig": {
        "properties": {
          "pii_types": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Pii Types",
            "description": "Types of PII to detect (email, phone, ssn, etc.)"
          }
        },
        "type": "object",
        "required": [
          "pii_types"
        ],
        "title": "PIIDetectionConfig"
      },
      "Product": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Name of the product"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description of the product"
          },
          "logicalIdPrefix": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Logicalidprefix",
            "description": "Logical ID prefix for product"
          }
        },
        "type": "object",
        "title": "Product"
      },
      "ProductResponse": {
        "properties": {
          "products": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/Product"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Products",
            "description": "List of products for tenant",
            "default": []
          }
        },
        "type": "object",
        "title": "ProductResponse"
      },
      "RestrictToTopicConfig": {
        "properties": {
          "valid_topics": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Valid Topics",
            "description": "List of allowed topics"
          },
          "invalid_topics": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Invalid Topics",
            "description": "List of restricted topics"
          }
        },
        "type": "object",
        "required": [
          "valid_topics",
          "invalid_topics"
        ],
        "title": "RestrictToTopicConfig"
      },
      "SearchRequest": {
        "properties": {
          "search": {
            "type": "string",
            "title": "Search"
          }
        },
        "type": "object",
        "required": [
          "search"
        ],
        "title": "SearchRequest"
      },
      "SemanticSearchRequest": {
        "properties": {
          "search": {
            "type": "string",
            "title": "Search"
          },
          "limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit",
            "default": 8
          }
        },
        "type": "object",
        "required": [
          "search"
        ],
        "title": "SemanticSearchRequest"
      },
      "Setting": {
        "properties": {
          "showThoughtsDropdown": {
            "type": "boolean",
            "title": "Showthoughtsdropdown"
          },
          "showFollowups": {
            "type": "boolean",
            "title": "Showfollowups",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "showThoughtsDropdown"
        ],
        "title": "Setting"
      },
      "SuggestionRequest": {
        "properties": {
          "guid": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Guid",
            "description": "The ID of the suggestion"
          },
          "suggestion": {
            "type": "string",
            "title": "Suggestion",
            "description": "The suggestion text"
          },
          "ibcScreenId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ibcscreenid",
            "description": "IBC Screen ID"
          },
          "logicalidPrefix": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Logicalidprefix",
            "description": "Logical ID prefix"
          },
          "createdOn": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Createdon",
            "description": "The date-time the suggestion was created on"
          },
          "createdBy": {
            "type": "string",
            "title": "Createdby",
            "description": "The author of the suggestion"
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updatedby",
            "description": "The last user to update the suggestion"
          },
          "updatedOn": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updatedon",
            "description": "The date-time the suggestion was last updated on"
          }
        },
        "type": "object",
        "required": [
          "suggestion"
        ],
        "title": "SuggestionRequest"
      },
      "SuggestionResponse": {
        "properties": {
          "warnings": {
            "items": {},
            "type": "array",
            "title": "Warnings"
          },
          "guid": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Guid",
            "description": "The ID of the suggestion"
          },
          "suggestion": {
            "type": "string",
            "title": "Suggestion",
            "description": "The suggestion text"
          },
          "ibcScreenId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ibcscreenid",
            "description": "IBC Screen ID"
          },
          "logicalidPrefix": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Logicalidprefix",
            "description": "Logical ID prefix"
          },
          "createdOn": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Createdon",
            "description": "The date-time the suggestion was created on"
          },
          "createdBy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Createdby",
            "description": "The author of the suggestion"
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updatedby",
            "description": "The last user to update the suggestion"
          },
          "updatedOn": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updatedon",
            "description": "The date-time the suggestion was last updated on"
          }
        },
        "type": "object",
        "required": [
          "guid",
          "suggestion"
        ],
        "title": "SuggestionResponse"
      },
      "ToolBulkDeleteRequest": {
        "properties": {
          "guids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Guids"
          }
        },
        "type": "object",
        "required": [
          "guids"
        ],
        "title": "ToolBulkDeleteRequest"
      },
      "ToolBulkDeleteResponse": {
        "properties": {
          "guid": {
            "type": "string",
            "format": "uuid",
            "title": "Guid"
          },
          "deleted": {
            "type": "boolean",
            "title": "Deleted"
          }
        },
        "type": "object",
        "required": [
          "guid",
          "deleted"
        ],
        "title": "ToolBulkDeleteResponse"
      },
      "ToolDuplicateRequest": {
        "properties": {
          "guids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Guids"
          }
        },
        "type": "object",
        "required": [
          "guids"
        ],
        "title": "ToolDuplicateRequest"
      },
      "ToolEnableRequest": {
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ToolStatus"
          },
          "guids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Guids"
          }
        },
        "type": "object",
        "required": [
          "status",
          "guids"
        ],
        "title": "ToolEnableRequest"
      },
      "ToolExportRequest": {
        "properties": {
          "guids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Guids"
          }
        },
        "type": "object",
        "required": [
          "guids"
        ],
        "title": "ToolExportRequest"
      },
      "ToolImportRequest": {
        "properties": {
          "tools": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "minItems": 1,
            "title": "Tools"
          }
        },
        "type": "object",
        "required": [
          "tools"
        ],
        "title": "ToolImportRequest"
      },
      "ToolImportResponse": {
        "properties": {
          "results": {
            "items": {
              "$ref": "#/components/schemas/ToolImportResult"
            },
            "type": "array",
            "title": "Results"
          },
          "success_total": {
            "type": "integer",
            "title": "Success Total",
            "default": 0
          },
          "failure_total": {
            "type": "integer",
            "title": "Failure Total",
            "default": 0
          }
        },
        "type": "object",
        "title": "ToolImportResponse"
      },
      "ToolImportResult": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "original_data": {
            "additionalProperties": true,
            "type": "object",
            "title": "Original Data"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error"
          }
        },
        "type": "object",
        "required": [
          "status",
          "original_data"
        ],
        "title": "ToolImportResult"
      },
      "ToolInput": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the required input"
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "Description of the input"
          },
[...]
