{
  "openapi": "3.1.0",
  "info": {
    "title": "Infor GenAI API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://mingle-ionapi.inforcloudsuite.com/<YOUR_TENANT>/GENAI/chatsvc",
      "variables": {
        "basePath": {
          "default": "/chatsvc"
        }
      }
    }
  ],
  "paths": {
    "/api/v1/prompt": {
      "post": {
        "tags": [
          "prompt"
        ],
        "summary": "Run Prompt",
        "operationId": "run_prompt_chatsvc_api_v1_prompt_post",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-infor-logicalidprefix",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Infor-Logicalidprefix"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/prompt/stream": {
      "post": {
        "tags": [
          "prompt"
        ],
        "summary": "Run Prompt Stream",
        "operationId": "run_prompt_stream_chatsvc_api_v1_prompt_stream_post",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-infor-logicalidprefix",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Infor-Logicalidprefix"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat": {
      "post": {
        "tags": [
          "chat"
        ],
        "summary": "Run Chat",
        "operationId": "run_chat_chatsvc_api_v1_chat_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/chat/sync": {
      "post": {
        "tags": [
          "chat"
        ],
        "summary": "Run Chat Sync",
        "operationId": "run_chat_sync_chatsvc_api_v1_chat_sync_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/info": {
      "get": {
        "tags": [
          "info"
        ],
        "summary": "Get Info",
        "operationId": "get_info_chatsvc_info_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/models": {
      "get": {
        "tags": [
          "models"
        ],
        "summary": "Get Model List",
        "operationId": "get_model_list_chatsvc_api_v1_models_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ModelDetail"
                  },
                  "type": "array",
                  "title": "Response Get Model List Chatsvc Api V1 Models Get"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/models/tools": {
      "get": {
        "tags": [
          "models"
        ],
        "summary": "Get Tool Model List",
        "operationId": "get_tool_model_list_chatsvc_api_v1_models_tools_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolModelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/sessions": {
      "get": {
        "tags": [
          "sessions"
        ],
        "summary": "Get Sessions",
        "operationId": "get_sessions_chatsvc_api_v1_sessions_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ChatSession"
                  },
                  "type": "array",
                  "title": "Response Get Sessions Chatsvc Api V1 Sessions Get"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/sessions/{sesion_id}/messages": {
      "get": {
        "tags": [
          "sessions"
        ],
        "summary": "Get Session Messages",
        "operationId": "get_session_messages_chatsvc_api_v1_sessions__sesion_id__messages_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sesion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sesion Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Message_"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/latest": {
      "get": {
        "tags": [
          "sessions"
        ],
        "summary": "Get Latest User Messages",
        "operationId": "get_latest_user_messages_chatsvc_api_v1_sessions_latest_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/sessions/{session_id}": {
      "put": {
        "tags": [
          "sessions"
        ],
        "summary": "Update Session",
        "operationId": "update_session_chatsvc_api_v1_sessions__session_id__put",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "sessions"
        ],
        "summary": "Delete Session",
        "operationId": "delete_session_chatsvc_api_v1_sessions__session_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/messages": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Run Messages",
        "operationId": "run_messages_chatsvc_api_v1_messages_post",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-infor-logicalidprefix",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Infor-Logicalidprefix"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/messages/stream": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Run Messages Stream",
        "operationId": "run_messages_stream_chatsvc_api_v1_messages_stream_post",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-infor-logicalidprefix",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Infor-Logicalidprefix"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatRequest": {
        "properties": {
          "prompt": {
            "type": "string",
            "maxLength": 5000,
            "minLength": 1,
            "title": "Prompt",
            "description": "Prompt to provide to the LLM"
          },
          "session": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Session",
            "description": "Session ID of current conversation."
          },
          "tools": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tools",
            "description": "List of tools to use for the prompt. If empty, uses all active tools."
          },
          "config": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ModelType"
              },
              {
                "type": "null"
              }
            ],
            "description": "[DEPRECATED as of 2024.12 this field has no effect] Configuration for type of chat model to use.",
            "deprecated": true
          },
          "toolInfo": {
            "anyOf": [
              {
                "additionalProperties": {
                  "$ref": "#/components/schemas/ToolInfo"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Toolinfo",
            "description": "Extra information for the available tools sent"
          },
          "ibcPayload": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ibcpayload",
            "description": "IBC Payload"
          }
        },
        "type": "object",
        "required": [
          "prompt"
        ],
        "title": "ChatRequest"
      },
      "ChatResponse": {
        "properties": {
          "warnings": {
            "items": {},
            "type": "array",
            "title": "Warnings",
            "default": []
          },
          "session": {
            "type": "string",
            "title": "Session",
            "description": "Unique identifier for chat session"
          },
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique identifier for chat message"
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "Chat message response"
          },
          "links": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/Hyperlink"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Links",
            "description": "List of hyperlinks for the response"
          },
          "followups": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Followups",
            "description": "List of followups"
          },
          "screen_navigation": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Screen Navigation",
            "description": "Screen ID or URL for screen navigation"
          }
        },
        "type": "object",
        "required": [
          "session",
          "id"
        ],
        "title": "ChatResponse"
      },
      "ChatSession": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "ID for session"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the session."
          },
          "messages": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PaginatedResponse_Message_"
              },
              {
                "type": "null"
              }
            ],
            "description": "List of messages for a particular session"
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "title": "Updatedon",
            "description": "Date the session was last updated"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "updatedOn"
        ],
        "title": "ChatSession"
      },
      "DocumentRequest": {
        "properties": {
          "format": {
            "type": "string",
            "title": "Format",
            "description": "Format of the document.  Valid file types are docx, csv, html, txt, pdf, md, doc, xlsx, xls"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the document.  The document file name can only contain alphanumeric characters, whitespace characters, hyphens, parentheses, and square brackets. The name can't contain more than one consecutive whitespace character"
          },
          "data": {
            "type": "string",
            "title": "Data",
            "description": "Base64 encoded string of document"
          },
          "citations": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Citations",
            "description": "Enable citations for the document",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "format",
          "name",
          "data"
        ],
        "title": "DocumentRequest"
      },
      "EolDetail": {
        "properties": {
          "date": {
            "type": "string",
            "title": "Date",
            "description": "Date of EOL"
          },
          "replacement_model_id": {
            "type": "string",
            "title": "Replacement Model Id",
            "description": "Replacement model id"
          }
        },
        "type": "object",
        "required": [
          "date",
          "replacement_model_id"
        ],
        "title": "EolDetail"
      },
      "ExecutionNotification": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "userId": {
            "type": "string",
            "title": "Userid"
          },
          "traceId": {
            "type": "string",
            "title": "Traceid"
          },
          "message": {
            "type": "string",
            "title": "Message"
          },
          "data": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Data"
          },
          "createdOn": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Createdon"
          },
          "sessionId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sessionid"
          }
        },
        "type": "object",
        "required": [
          "userId",
          "traceId",
          "message",
          "createdOn"
        ],
        "title": "ExecutionNotification"
      },
      "Feedback": {
        "properties": {
          "traceId": {
            "type": "string",
            "title": "Traceid"
          },
          "identity2": {
            "type": "string",
            "title": "Identity2"
          },
          "feedback": {
            "type": "string",
            "title": "Feedback"
          },
          "sentiment": {
            "$ref": "#/components/schemas/FeedbackSentiment"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "title": "Createdon"
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "title": "Updatedon"
          }
        },
        "type": "object",
        "required": [
          "traceId",
          "identity2",
          "feedback",
          "sentiment",
          "createdOn",
          "updatedOn"
        ],
        "title": "Feedback"
      },
      "FeedbackSentiment": {
        "type": "string",
        "enum": [
          "POSITIVE",
          "NEGATIVE"
        ],
        "title": "FeedbackSentiment"
      },
      "GuardrailInfo": {
        "properties": {
          "tenant_guardrails_applied": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tenant Guardrails Applied"
          },
          "bedrock_guardrail_applied": {
            "type": "boolean",
            "title": "Bedrock Guardrail Applied"
          },
          "type": {
            "type": "string",
            "title": "Type"
          },
          "message": {
            "type": "string",
            "title": "Message"
          },
          "input_flagged": {
            "type": "boolean",
            "title": "Input Flagged"
          },
          "output_flagged": {
            "type": "boolean",
            "title": "Output Flagged"
          }
        },
        "type": "object",
        "required": [
          "tenant_guardrails_applied",
          "bedrock_guardrail_applied",
          "type",
          "message",
          "input_flagged",
          "output_flagged"
        ],
        "title": "GuardrailInfo"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "Hyperlink": {
        "properties": {
          "index": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Index"
          },
          "title": {
            "type": "string",
            "title": "Title"
          },
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "type": "object",
        "required": [
          "title",
          "url"
        ],
        "title": "Hyperlink"
      },
      "Level": {
        "type": "string",
        "enum": [
          "UP",
          "DOWN"
        ],
        "title": "Level"
      },
      "Message": {
        "properties": {
          "guid": {
            "type": "string",
            "title": "Guid"
          },
          "userId": {
            "type": "string",
            "title": "Userid"
          },
          "sessionId": {
            "type": "string",
            "title": "Sessionid"
          },
          "traceId": {
            "type": "string",
            "title": "Traceid"
          },
          "content": {
            "type": "string",
            "title": "Content"
          },
          "sender": {
            "$ref": "#/components/schemas/Sender"
          },
          "citations": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Citations",
            "default": ""
          },
          "rating": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Rating"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "title": "Createdon"
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "title": "Updatedon"
          },
          "suggestions": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Suggestions"
          },
          "history": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ExecutionNotification"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "History"
          },
          "link": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Hyperlink"
              },
              {
                "type": "null"
              }
            ]
          },
          "followups": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Followups"
          },
          "screen_navigation": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Screen Navigation"
          },
          "feedback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Feedback"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "guid",
          "userId",
          "sessionId",
          "traceId",
          "content",
          "sender",
          "createdOn",
          "updatedOn"
        ],
        "title": "Message"
      },
      "MessageBase": {
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "title": "Role",
            "description": "Role of the message being sent, supported values are user or assistant"
          },
          "content": {
            "items": {
              "$ref": "#/components/schemas/MessageContent"
            },
            "type": "array",
            "maxItems": 60,
            "minItems": 1,
            "title": "Content",
            "description": "List of message content. Can be a mix of text and images"
          }
        },
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "title": "MessageBase"
      },
      "MessageContent": {
        "properties": {
          "type": {
            "type": "string",
            "title": "Type",
            "description": "Type of message content, either text, image, or document and 'cache_control' and should be used only when role = 'user' "
          },
          "data": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "$ref": "#/components/schemas/DocumentRequest"
              },
              {
                "type": "boolean"
              }
            ],
            "title": "Data",
            "description": "The content of the message. If type is image, data should be a base 64 encoded image. If type is text, data should be the text content of the message.  If type is document, data should be a dictionary with fields name (file name without extension), format (pdf, docx, etc), data (base64 string representation of file). Type = 'cache_control' then content can be true/false"
          }
        },
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "title": "MessageContent"
      },
      "MessagesRequest": {
        "properties": {
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model",
            "description": "Name of the model to use, if none provided defaults to CLAUDE"
          },
          "version": {
            "type": "string",
            "title": "Version",
            "description": "Specific id/version of the model to use, Model is required for this field."
          },
          "config": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ModelParameters"
              },
              {
                "type": "null"
              }
            ],
            "description": "Configuration to customize model parameters"
          },
          "useConverseApi": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Useconverseapi",
            "description": "Use the converse api to send prompt",
            "default": true
          },
          "safetyGuardrail": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Safetyguardrail",
            "description": "Use the converse api to send prompt",
            "default": false
          },
          "system": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "System",
            "description": "System message to be provided"
          },
          "system_cache": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "System Cache",
            "description": "Indicates whether to cache system prompt or not. Syatem cache is supported only whem model is NOVA or model is CLAUDE with useConverseAPI=TRUE",
            "default": false
          },
          "messages": {
            "items": {
              "$ref": "#/components/schemas/MessageBase"
            },
            "type": "array",
            "title": "Messages"
          }
        },
        "type": "object",
        "title": "MessagesRequest"
      },
      "ModelDetail": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of a llm model"
          },
          "provider": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Provider",
            "description": "Name of company that provides the specific model"
          },
          "versions": {
            "items": {
              "$ref": "#/components/schemas/VersionDetail"
            },
            "type": "array",
            "title": "Versions",
            "description": "Version detials of the specific model"
          }
        },
        "type": "object",
        "required": [
          "name",
          "versions"
        ],
        "title": "ModelDetail"
      },
      "ModelParameters": {
        "properties": {
          "max_response": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Response",
            "description": "Maximum number of tokens to generate a response"
          },
          "temperature": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Temperature",
            "description": "What sampling temperature to use, between 0 and 2."
          },
          "top_p": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Top P",
            "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass."
          },
          "top_k": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Top K",
            "description": "An alternative to sampling with temperature, called top-k sampling, where the model considers the results of the K most likely tokens."
          },
          "stop_sequence": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stop Sequence",
            "description": "Up to 4 sequences where the API will stop generating further tokens."
          },
          "frequency_penalty": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Frequency Penalty",
            "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim."
          },
          "presence_penalty": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Presence Penalty",
            "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics."
          },
          "reasoning": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ReasoningParameters"
              },
              {
                "type": "null"
              }
            ],
            "description": "Parameters for reasoning"
          }
        },
        "type": "object",
        "title": "ModelParameters"
      },
      "ModelType": {
        "type": "string",
        "enum": [
          "SIMPLE",
          "INTERMEDIATE",
          "ADVANCED",
          "HYBRID"
        ],
        "title": "ModelType"
      },
      "PaginatedResponse_Message_": {
        "properties": {
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Number of total items"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "type": "array",
            "title": "Items",
            "description": "List of items returned in a paginated response"
          },
          "next_page": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Page",
            "description": "index of the next page if it exists"
          },
          "previous_page": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Previous Page",
            "description": "index of the previous page if it exists"
          }
        },
        "type": "object",
        "required": [
          "count",
          "items"
        ],
        "title": "PaginatedResponse[Message]"
      },
      "PromptRequest": {
        "properties": {
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model",
            "description": "Name of the model to use, if none provided defaults to CLAUDE"
          },
          "version": {
            "type": "string",
            "title": "Version",
            "description": "Specific id/version of the model to use, Model is required for this field."
          },
          "config": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ModelParameters"
              },
              {
                "type": "null"
              }
            ],
            "description": "Configuration to customize model parameters"
          },
          "useConverseApi": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Useconverseapi",
            "description": "Use the converse api to send prompt",
            "default": true
          },
          "safetyGuardrail": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Safetyguardrail",
            "description": "Use the converse api to send prompt",
            "default": false
          },
          "prompt": {
            "type": "string",
            "title": "Prompt",
            "description": "Prompt to provide to the LLM"
          },
          "encoded_image": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Encoded Image",
            "description": "Base64 encoded image."
          },
          "document": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DocumentRequest"
              },
              {
                "type": "null"
              }
            ],
            "description": "Document to use for the prompt"
          }
        },
        "type": "object",
        "required": [
          "prompt"
        ],
        "title": "PromptRequest",
        "examples": [
          {
            "config": {
              "temperature": 1
            },
            "prompt": "Hello World"
          }
        ],
        "example": {
          "config": {
            "temperature": 1
          },
          "prompt": "Hello World"
        }
      },
      "PromptResponse": {
        "properties": {
          "warnings": {
            "items": {},
            "type": "array",
            "title": "Warnings",
            "default": []
          },
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique identifier for prompt completion"
          },
          "reasoning_content": {
            "$ref": "#/components/schemas/ReasoningContent",
            "description": "Reasoning for the prompt"
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "Response from LLM"
          },
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model used for prompt completion"
          },
          "version": {
            "type": "string",
            "title": "Version",
            "description": "Verison of the the model selected"
          },
          "token_usage": {
            "$ref": "#/components/schemas/TokenUsageInfo",
            "description": "Token usage for the prompt completion"
          },
          "guardrail_info": {
            "$ref": "#/components/schemas/GuardrailInfo",
            "description": "guardrail info for the prompt completion"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "PromptResponse"
      },
      "Rating": {
        "properties": {
          "level": {
            "$ref": "#/components/schemas/Level"
          },
          "offensive": {
            "type": "boolean",
            "title": "Offensive"
          },
          "irrelevant": {
            "type": "boolean",
            "title": "Irrelevant"
          },
          "unhelpful": {
            "type": "boolean",
            "title": "Unhelpful"
          },
          "feedback": {
            "type": "string",
            "title": "Feedback"
          }
        },
        "type": "object",
        "required": [
          "level",
          "offensive",
          "irrelevant",
          "unhelpful",
          "feedback"
        ],
        "title": "Rating"
      },
      "ReasoningContent": {
        "properties": {
          "text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Text"
          },
          "signature": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Signature"
          }
        },
        "type": "object",
        "title": "ReasoningContent"
      },
      "ReasoningParameters": {
        "properties": {
          "enabled": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Enabled",
            "description": "Whether to enable reasoning for the model"
          },
          "budget_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Budget Tokens",
            "description": "Budget tokens for reasoning response"
          }
        },
        "type": "object",
        "title": "ReasoningParameters"
      },
      "Sender": {
        "type": "string",
        "enum": [
          "LLM",
          "User"
        ],
        "title": "Sender"
      },
      "TokenUsageInfo": {
        "properties": {
          "input": {
            "type": "integer",
            "title": "Input"
          },
          "output": {
            "type": "integer",
            "title": "Output"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "billed": {
            "type": "boolean",
            "title": "Billed"
          },
          "cache_create": {
            "type": "integer",
            "title": "Cache Create"
          },
          "cache_read": {
            "type": "integer",
            "title": "Cache Read"
          }
        },
        "type": "object",
        "required": [
          "input",
          "output",
          "total",
          "billed",
          "cache_create",
          "cache_read"
        ],
        "title": "TokenUsageInfo"
      },
      "ToolInfo": {
        "properties": {
          "stub": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stub",
            "description": "Respond with the stubbed api response for the tool",
            "default": false
          }
        },
        "type": "object",
        "title": "ToolInfo"
      },
      "ToolModelDetail": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of a model"
          },
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Name of the model"
          },
          "version": {
            "type": "string",
            "title": "Version",
            "description": "Version of the model"
          },
          "default": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Default",
            "description": "Optional value determining if this model is default. Only one model should be the default"
          }
        },
        "type": "object",
        "required": [
          "name",
          "model",
          "version"
        ],
        "title": "ToolModelDetail",
        "description": "Model to configure llm for tool or agent use"
      },
      "ToolModelResponse": {
        "properties": {
          "tools": {
            "items": {
              "$ref": "#/components/schemas/ToolModelDetail"
            },
            "type": "array",
            "title": "Tools",
            "description": "List of tool models"
          },
          "agents": {
            "items": {
              "$ref": "#/components/schemas/ToolModelDetail"
            },
            "type": "array",
            "title": "Agents",
            "description": "List of agent models"
          }
        },
        "type": "object",
        "required": [
          "tools",
          "agents"
        ],
        "title": "ToolModelResponse",
        "description": "Response for list of tools available for tool or agent use"
      },
      "UpdateSessionRequest": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the session"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "UpdateSessionRequest"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "VersionDetail": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Specific id of model version"
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "Description of the specific model version"
          },
          "token_context_size": {
            "type": "integer",
            "title": "Token Context Size",
            "description": "Context token size of the model version"
          },
          "eol": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/EolDetail"
              },
              {
                "type": "null"
              }
            ],
            "description": "End of life details"
          },
          "enabled": {
            "type": "string",
            "title": "Enabled",
            "description": "Whether the version is enabled"
          },
          "isFamilyDefault": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Isfamilydefault",
            "description": "Whether this version is the default for its family"
          },
          "isDefault": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Isdefault",
            "description": "Whether this version is the global default"
          },
          "images": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Images",
            "description": "Whether the version supports images"
          },
          "rateLimit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ratelimit",
            "description": "Rate limit for the version"
          },
          "documents": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Documents",
            "description": "Whether the version supports documents"
          },
          "iddpRateLimit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Iddpratelimit",
            "description": "IDDP rate limit for the version"
          },
          "reasoning": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning",
            "description": "Whether the version supports reasoning"
          },
          "cache": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cache",
            "description": "Whether the version supports caching"
          },
          "standardGuardrail": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Standardguardrail",
            "description": "Whether the version supports standard guardrails"
          }
        },
        "type": "object",
        "required": [
          "id",
          "enabled"
        ],
        "title": "VersionDetail"
      }
    },
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  }
}